.box-inputs.scroll {
    max-height: 250px;
    overflow: hidden;
}
.box-inputs {
    background: #f3f3f6;
    border-radius: 8px;
    padding: 10px 15px;
}

 

.custom-scrollbar-js,
.custom-scrollbar-css {
  height: 200px;
}


/* Custom Scrollbar using CSS */
.scroll {
  overflow-y: scroll;
}

/* scrollbar width */
.scroll::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track */
.scroll::-webkit-scrollbar-track {
  background: #eee;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00d2ff;
  background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}

.input-feature-list ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.form-group ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-feature-list ul li {
    color: #324148;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    padding-bottom: 12px;
    padding-left: 20px;
    position: relative
}

.search ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* تنسيق عناصر القائمة */
.search ul li ,.hor{
    position: relative;
    padding-right: 25px; /* مساحة لإظهار الدائرة على اليمين */
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right; /* محاذاة النص إلى اليمين */
}

/* تنسيق الدائرة */
.search ul li label::before,.hor li label::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid #259acb;; /* إطار أزرق للدائرة */
    border-radius: 50%;
    background-color: white;
}

/* الدائرة الممتلئة عندما يكون checkbox مختار */
.search ul li input[type="checkbox"]:checked + label::before,.hor li input[type="checkbox"]:checked + label::before
,.hor li input[type="radio"]:checked + label::before  {
    background-color: #259acb;; /* لون أزرق للدائرة الممتلئة */
}

/* إخفاء checkbox بشكل افتراضي */
.search ul li input[type="checkbox"],.hor li input[type="checkbox"]  {
    display: none;
}

.hor li input[type="radio"]  {
    display: none;
}

/* تنسيق النص بجانب checkbox */
.search ul li .btf-label{
    cursor: pointer;
    display: inline-block;
    padding-right: 25px; /* مساحة إضافية للنقر على الدائرة */
}
.hor li .btf-label {
    cursor: pointer;
    display: inline-block;
    padding-right: 5px !important; /* مساحة إضافية للنقر على الدائرة */
}

/* التأكد من أن النقر على الدائرة سيقوم بتحديد الـ checkbox */
.search ul li label  ,.hor li label{
    position: relative;
    cursor: pointer;
}

.search ul li label::before  {
    right: 0; /* نقل الدائرة إلى اليمين */
}
 .hor li label::before {
    right: -15px !important; /* نقل الدائرة إلى اليمين */
}
.hor-div{
    margin-right: 20px;
}
.color-pink, .color-pseudo-pink:after, .color-pseudo-pink:before 
  {
    color: #da4761 !important;
}

.hor{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
.hor li{
    margin-right: 10px;
    float: right;
}
 
.page-head .sub-menu .sub-item a{
  text-decoration: none !important;  
}
.page-head .sub-menu .sub-item .active:hover{
  text-decoration: none !important;  
  color: white ;
}
.layout-blank .page .page-head h1 {
  text-align: center
}

.page-head .sub-menu {
  background: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: -1px 4px 12px 0 hsla(0,0%,72%,.2);
 
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap
}

.tab-btn{
     
    color: white;
  
    left: 0%;  
    border-radius: 20px;  
    transition: all 0.3s;  
    background: -moz-linear-gradient(-256deg, #2289c1 0, #0f518d 50%, #2289c1 100%);  
    background: -webkit-linear-gradient(-256deg, #2289c1, #0f518d 50%, #2289c1);  
    background: linear-gradient(-256deg, #2289c1, #0f518d 50%, #2289c1);  
      background-size: auto;  
    background-size: 200% 100%;  
    border-radius: 50px;  
    content: "";  
    display: block;    
padding-top: 5px;

padding-bottom: 5px;
 
    width: 142px;
}
.page-head .sub-menu .sub-item{
padding-right: 0 !important;
padding-left: 0 !important;
}
.page-head .sub-menu .sub-item .disactive{
 
  color: #324148;

}
.page-head .sub-menu .sub-item .disactive:hover{
  color: #259acb;
  
}
.item-dis{
  padding-top: 5px;
}
.secondary-data .user-age{
  color:#878787;
}
.ver li{
  float: none !important;
}
