.fixed-top {
    position: sticky !important;
}


.page {
    margin-top: 100px;
}
.home-hero {
    background: #fff4f4;
    position: relative;
}
.container {
    margin: 0 auto !important;
    max-width: 1157px;
}
 .home-hero__caption {
    text-align: right;
    min-height: 542px;
}
.intto-desc{
    font-size: 22px;
    line-height: 1.8;
    
    z-index: 1;
    color: #1767A1;
}
 .home-hero__couple-image {
    bottom: -500px;
    left: 0;
    position: absolute;
    right: auto;
}
.home-hero__couple-image img {
    height: 550px;
    height: auto;
    width: 350px;
}

.advance-search {
    margin-top: 500px;
    position: relative;
    z-index: 40;
}
.advance-search_head_content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
 
.advance-search__content {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .05);
    padding: 40px 78px 46px 110px;
    position: relative;
    z-index: 999999;
     margin-top: -20%;
}
.sign{
    margin-right: 30px;
}
.sign-sm{
    margin-top: 30px;  
}
.a-menu{
padding-left: 5px  !important;
padding-right: 5px !important;
text-decoration: none !important;;
}
#intro {
    width: 100%;
    position: relative;
    background: url(../img/intro-bg.png) center bottom no-repeat;
    background-size: cover;
    padding: 20px 0 20px 0;
}
.intro-content{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
#intro .intro-img {
    width: 50%;
    float: right;
}
#intro .intro-info {
    width: 50%;
    margin-top: 5%;
    
}
#intro .intro-info h2 {
    color: #333;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}
.intro-info h1{
    line-height: 1.5;
}

/* search  */
.advance-search_head_content h3 {
    color: #1767a1;
    /* float: left; */
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
}
.advance-search__content {
    background: #fff;
    border-radius: 12px !important;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .05) !important;
    padding: 40px 78px 46px 78px !important;
    position: relative;
    z-index: 0;
}


/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */
 
  
.toggleContainer {
    position: relative;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
   
    border: none;
    border-radius: 50px;
    background: white;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
    width: 300px;
    border-style: solid;
    border-width: 0.5px;
    border-color:#343434; 
  }
  .toggleContainer::before {
    /* content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-radius:20px;
    background: white;
    transition: all 0.3s; */
    background: #2289c1;
    background: -moz-linear-gradient(-256deg, #2289c1 0, #0f518d 50%, #2289c1 100%);
    background: -webkit-linear-gradient(-256deg, #2289c1, #0f518d 50%, #2289c1);
    background: linear-gradient(-256deg, #2289c1, #0f518d 50%, #2289c1);
    background-size: 200% 100%;
    border-radius: 50px;
    content: "";
    display: block;
    height: 100%;
    left: 156px;
    position: absolute;
    top: 0;
    transition: .3s ease-in-out;
    width: 142px;
   

  }

  .advance-search_head_content .btn-group:before {
    background: #2289c1;
    background: -moz-linear-gradient(-256deg, #2289c1 0, #0f518d 50%, #2289c1 100%);
    background: -webkit-linear-gradient(-256deg, #2289c1, #0f518d 50%, #2289c1);
    background: linear-gradient(-256deg, #2289c1, #0f518d 50%, #2289c1);
    background-size: 200% 100%;
    border-radius: 50px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: .3s ease-in-out;
    width: 140px;
  }
  .toggleCheckbox:checked + .toggleContainer::before {
     left:0%;
  }
  .toggleContainer div {
     padding: 5px 18px;  
    text-align: center;
    z-index: 1;

 
      
  }
  .toggleCheckbox {
    display: none;
  }
  .toggleCheckbox:checked + .toggleContainer div:first-child{
  
    color: white;
    transition: color 0.3s;
  }
  .toggleCheckbox:checked + .toggleContainer div:last-child{
    color:  #343434;
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:first-child{
    color:  #343434;
    transition: color 0.3s;
  }
  .toggleCheckbox + .toggleContainer div:last-child{
    
    color:  white;
    transition: color 0.3s;
  }
  @media (max-width: 991px) {
    /* إظهار زر القائمة الجانبية في الشاشات الصغيرة */
    .toggleContainer span {
        display: none;
    }
    .toggleContainer{
        width:154px;
    }
    .toggleContainer::before {
width: 77px !important;
  left: 50% !important;  
    }

    .btn-group:before {
        width: 77px !important;
        left: 50%  !important;
    }
    .toggleCheckbox:checked + .toggleContainer::before {
        left:0% !important;
     }
    
}


#slider-age  .slider-track {
    height: 5px;
   
}
#slider-age  .slider-selection {
   background: #D8445E;
   
}
.b-slide {
    padding: 5px 10px;
}
#slider-age .slider-handle{
    background: #D8445E;  
    top: -2px;
}

.formsearch {
    border: none;
    border-radius: 50px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 20px;
    text-align: center !important;
    transition: all .4s ease-in-out;
    background: #D8445E;
}

.latest-members h2{
    color: #D8445E;
    padding-bottom: 52px;
    text-align: center;

}
.latest-members__filter {
    margin-bottom: 30px;
    text-align: center;
}

  .user-card {
    box-shadow: 0 0 14px 0 #f0f2f4;
}
.user-card {
    background-color: #fff;
    border-radius: 22px;
    box-shadow: -1px 9px 14px 0 #f0f2f4;
    margin: 0;
    padding: 20px;
    position: relative;
}


.user-card .essential-data {
    align-items: center;
    display: flex;
    justify-content: center;
}
a{  
    text-decoration: none !important;
}
 .user-card .essential-data .avatar {
    margin-left: 15px;
    margin-right: 0;
}
 
.user-card img[class^=avatar] {
    border-radius: 50%;
    height: 68px;
    width: 68px;
}
.user-card .essential-data h3 {
    color: #324148;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: -1px;
}
.user-card .essential-data h3 img {
    align-items: center;
    display: inline-flex;
    margin: 0 3px;
    width: 16px;
    height: auto;
}
.user-card .essential-data h4 {
    color: #259acb;
    font-size: 16px;
    margin-bottom: 0;
}


.user-card .secondary-data {
    align-items: center;
    border-top: 1px solid #f4f3f3;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 15px;
    overflow: hidden;
    padding: 15px 10px 0
}

.user-card .secondary-data .user-location {
    margin-right: 10px;
    max-width: 60%
}
 
.user-card .secondary-data .user-marital-status {
    max-width: 40%
}

.user-card .secondary-data .user-location,.user-card .secondary-data .user-marital-status {
    align-items: center;
    display: flex
}

 

  .user-card .secondary-data .user-location img,  .user-card .secondary-data .user-marital-status img {
    margin-left: 10px;
    margin-right: 0
}
.user-location-bi{
    margin-left: 10px;
    margin-right: 0  
}
.user-card .secondary-data .user-location span,.user-card .secondary-data .user-marital-status span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.user-card .more-data {
    align-items: center;
    border-top: 1px solid #f4f3f3;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px 0 0
}

.user-card .more-data .user-options ul {
    display: flex;
    margin: 0;
    padding: 0
}

.user-card .more-data .user-options ul li {
    list-style: none
}

[dir=ltr] .user-card .more-data .user-options ul li {
    margin-right: 5px
}

[dir=rtl] .user-card .more-data .user-options ul li {
    margin-left: 5px
}

.user-card .more-data .user-options ul li:last-child {
    margin-left: 0;
    margin-right: 0
}

.user-card .more-data .user-options .btn i {
    font-size: 15px;
    padding: 2px
}

.user-card .more-data .user-options .btn-add-to-favorite,.user-card .more-data .user-options .btn-remove-from-favorite {
    --box-shadow-color: hsla(0,0%,100%,0);
    border: none;
    box-shadow: inset 2px -15px 20px 0 var(--box-shadow-color);
    color: #ccc
}

.user-card .more-data .user-options .btn-add-to-favorite:hover,.user-card .more-data .user-options .btn-remove-from-favorite {
    background: #fff4f8;
    background: linear-gradient(90deg,#fff4f8 0,#fff5f8db);
    border: none;
    box-shadow: none;
    color: #da4761
}

.user-card .more-data .user-options .btn-add-to-favorite:hover i,.user-card .more-data .user-options .btn-remove-from-favorite i {
    animation: heartbeat 1s infinite;
    position: relative;
    top: 1px
}

.user-card .more-data .user-last-login {
    align-items: center;
    display: flex;
    max-width: 50%
}

[dir=ltr] .user-card .more-data .user-last-login {
    margin-left: 20px
}

[dir=rtl] .user-card .more-data .user-last-login {
    margin-right: 20px
}

.user-card .more-data .user-last-login img {
    height: 24px;
    margin-right: 10px;
    width: 24px
}

[dir=rtl] .user-card .more-data .user-last-login img {
    margin-left: 10px;
    margin-right: 0
}

.user-card .more-data .user-last-login span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.user-card .more-data .btn-send-message i {
    position: relative
}

.user-authenticated .user-card.not-contactable .more-data .btn-send-message i:after {
    background: url(/images/0546f0756c10a0fafbaf.svg) no-repeat;
    content: "";
    height: 10px;
    left: 11px;
    position: absolute;
    top: 2px;
    width: 10px
}

.user-card .more-data .btn-add-to-favorite,.user-card .more-data .btn-remove-from-favorite,.user-card .more-data .btn-send-message,.user-card .more-data .profile-visited {
    display: flex;
    padding: 3px 16px 5px
}

.user-card .more-data .btn-add-to-blacklist,.user-card.blacklisted .more-data .btn-add-to-favorite,.user-card.blacklisted .more-data .btn-send-message,.user-card:not(.blacklisted) .more-data .btn-remove-from-blacklist,.user-card:not(.visited) .more-data .profile-visited {
    display: none
}

.user-card .more-data .btn-remove-from-blacklist {
    background: #da4761
}

[dir=ltr] .user-card .more-data .btn-remove-from-blacklist {
    margin-right: 10px
}

[dir=rtl] .user-card .more-data .btn-remove-from-blacklist {
    margin-left: 10px
}

.user-card .more-data .btn-remove-from-blacklist i {
    position: relative;
    top: 2px
}

.user-card .more-data .profile-visited {
    padding: 4px 10px
}

.user-card .more-data .profile-visited:before {
    background: url(/images/128ff3becdaa7daf00cc.svg) no-repeat;
    content: "";
    filter: opacity(70%) grayscale(100%);
    height: 18px;
    width: 18px
}

/* sucess */


.success-stories {
    margin: 80px 0;
    position: relative
  }
  
  .success-stories h2 {
    padding-bottom: 25px;
    text-align: center
  }
  
  .success-stories__slider:after {
    background: -moz-linear-gradient(-270deg,#fff 0,hsla(0,0%,100%,.8) 50%,hsla(0,0%,100%,0) 100%);
    background: -webkit-linear-gradient(-270deg,#fff,hsla(0,0%,100%,.8) 50%,hsla(0,0%,100%,0));
    background: linear-gradient(-270deg,#fff,hsla(0,0%,100%,.8) 50%,hsla(0,0%,100%,0));
    left: 0
  }
  
  .success-stories__slider:after,.success-stories__slider:before {
    bottom: 80px;
    content: "";
    display: block;
    height: 430px;
    position: absolute;
    width: 30%;
    z-index: 40
  }
  
  .success-stories__slider:before {
    background: -moz-linear-gradient(-270deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,.8) 70%,#fff 100%);
    background: -webkit-linear-gradient(-270deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 70%,#fff);
    background: linear-gradient(-270deg,hsla(0,0%,100%,0),hsla(0,0%,100%,.8) 70%,#fff);
    right: 0
  }
  
  .success-stories__slider .slick-slide {
    margin: 80px 36px;
    transition: .2s ease-in;
    width: 515px
  }
  
  .success-stories__slider .slick-center {
    -moz-transform: scale(1.18);
    -webkit-transform: scale(1.18);
    -o-transform: scale(1.18);
    -ms-transform: scale(1.18);
    transform: scale(1.18)
  }
  
  .success-stories .story-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -1px 2px 12px 0 #f0f2f4;
    padding: 0 55px;
    position: relative
  }
  
  .success-stories .story-card .user-data {
    position: relative;
    top: -47px
  }
  
  .success-stories .story-card .user-data .avatar {
  /* //  background: url(img/user.jpg) no-repeat center 0; */
    background-size: 120px;
    padding: 20px 0 0
  }
  
  .success-stories .story-card .user-data .avatar,.success-stories .story-card .user-data h4,.success-stories .story-card .user-data h5 {
    text-align: center
  }
  
  .success-stories .story-card .user-data h4 {
    color: #324148;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 5px 0
  }
  
  .success-stories .story-card .user-data h5 {
    color: #259acb;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
    min-height: 40px
  }
  
  .success-stories .story-card img {
    display: initial
  }
  
  .success-stories .story-content {
    margin: -40px 0 50px
  }
  
  .success-stories .story-content blockquote {
    position: relative
  }
  
  .success-stories .story-content blockquote:before {
    color: #e35c70;
    content: open-quote;
    font-family: initial;
    font-size: 6em;
    margin-left: 0;
    margin-top: 5px;
    position: absolute;
    top: -63px
  }
  
  .success-stories .story-content blockquote:after {
    bottom: -35px;
    bottom: -93px;
    color: #e35c70;
    content: close-quote;
    font-family: initial;
    font-size: 6em;
    margin-bottom: -10px;
    position: absolute
  }
  
  
  .success-stories .story-content blockquote:after {
    left: 0
  }
  
  .success-stories .story-content p {
    color: #324148;
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.88;
    margin: auto auto 0;
    padding: 5px 50px;
    text-align: center
  }
  
  .success-stories .slick-slide .story-card .story-content p {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
  }
  
  .success-stories .slick-active .story-card .story-content p {
    display: block;
    overflow: hidden;
    text-overflow: unset;
    white-space: normal
  }
  
  .success-stories .story-data {
    border-top: 1px solid #f4f3f3;
    padding: 10px 0 15px
  }
  
  .success-stories .story-data p {
    color: #939393;
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    margin: auto;
    min-height: 1px;
    text-align: center
  }
  
  .success-stories__controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
    width: 80%
  }
  
  .success-stories__controls .controls {
    direction: ltr
  }
  
  .success-stories__controls .btn {
    float: none;
    float: right;
    font-size: 18px;
    margin-top: 0;
    padding: 0 22px
  }

.signup-section__content {
    margin: 30px 16% 30px 0;
    padding: 80px 45px;
    position: relative;
    text-align: center;
    
}

[dir=ltr] .signup-section__content {
    margin-left: 16%;
    margin-right: 0
}

.signup-section__bgdesign {
    bottom: -84px;
    position: absolute;
    right: 15px
}

.rtl .signup-section__bgdesign {
    bottom: -84px;
    left: 15px;
    position: absolute;
    right: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.signup-section__content p+.btn {
    margin-top: 24px
}
.signup-section__content  .btn {
    border-radius: 50px;
}
.success-stories .story-card .success-flag  {
width: 16px;
height: auto;
}
.success-stories  .avatar{
    margin-top: 50px;
}
.avatar img {
    border-radius: 50%;
    width: 68px  !important;
}
.success-stories .success-h{
    direction: rtl;
}
 .success-age{
    display: flex;
    justify-content: center;
}
.signup-section__links {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 40px 0 rgba(0,0,0,.05);
    margin: 0 0 60px;
    padding: 60px
}

.signup-section__links .signup-section__links-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0
}

.signup-section__links .signup-section__links-wrapper div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center
}

.signup-section__links .signup-section__links-wrapper a {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 130px
}

.signup-section__links .signup-section__links-wrapper figure {
    background: url(/images/9fe72959ae8836b8dd7f.svg) no-repeat;
    margin: 0 0 34px;
    text-align: center
}

.signup-section__links .signup-section__links-wrapper figure img {
    display: block;
    max-width: 100%
}

.signup-section__links .signup-section__links-wrapper figure.icon {
    align-items: center;
    display: flex;
    height: 91px;
    justify-content: center;
    width: 128px
}

.signup-section__links .signup-section__links-wrapper figure.icon img {
    height: 54px;
    width: 54px
}

.signup-section__links .signup-section__links-wrapper h6 {
    color: #383838;
    font-family: inherit;
    font-size: 19px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    transition: .1s ease-in
}

.signup-section__links .signup-section__links-wrapper a:hover h6 {
    color: #da003b
}

  
