.btn-action {
    color: #dc526a;
    padding: 8px 0 0;
    width: 100%
}

.btn-action:hover {
    color: #de526f
}

.ltr .btn-action {
    text-align: right!important
}

.rtl .btn-action {
    text-align: left!important
}

.btn-action .ico {
    color: #cbcbcb;
    position: relative;
    top: 3px
}

.ltr .btn-action .ico {
    padding-left: 5px
}

.rtl .btn-action .ico {
    padding-right: 5px
}

.dashboard-page__block {
    background: #fff;
    border-radius: 12px;
    box-shadow: -1px 4px 12px 0 hsla(0,0%,72%,.2);
    margin-bottom: 20px;
    padding: 15px
}

.block-user-data {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    border-bottom: 1px solid #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 20px
}

.block-user-data .user-data {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0
}

.block-user-data .user-data figure {
    height: 63px;
    margin-left:18px;
    margin-right: 10px;
    width: 63px
}

.block-user-data .user-data figure a.upload-photo {
    align-items: center !important;
    display: flex;
    justify-content: center;
    position: relative
}

.block-user-data .user-data figure a.upload-photo:after {
    /* background: url(/images/1.svg); */
    content: "";
    display: block;
    height: 24px;
    opacity: 75%;
    position: absolute;
    width: 24px
}

.block-user-data .membership-infos {
    padding-top: 2px
}

.block-user-data .membership-infos h4 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 5px;
    padding: 0
}

.block-user-data .membership-infos p {
    color: #919191;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0
}

.block-user-data .membership-infos p strong {
    color: #da4761;
    font-size: 16px;
    font-weight: 500;
    padding-right: 5px
}

/* .block-user-data .membership-infos p span {
    white-space: pre
} */

.dashboard-page__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 5px
}

.dashboard-page__link .btn-light {
    background: #fff;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.03),8px 0 20px 0 rgba(0,0,0,.03);
    color: #f5a2ac;
    font-size: 18px;
    font-weight: 500;
    text-transform: none
}

.dashboard-page__link .btn-light:hover {
    background: #fff0f0
}

.ltr .dashboard-page__link .btn-links {
    margin-left: 15px
}

.rtl .dashboard-page__link .btn-links {
    margin-right: 15px
}

.dashboard-page__link .btn-links ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.dashboard-page__link .btn-links ul li {
    float: left;
    margin-right: 10px
}

.dashboard-page__link .btn-links ul li .btn {
    align-items: center;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    height: 48px;
    justify-content: center;
    padding: 4px 6px 2px 4px;
    width: 48px
}

.dashboard-page__link .btn-links ul li .btn img {
    margin-left: 0;
    margin-right: 0
}

.dashboard-page__user-infolist {
    padding: 15px 15px 5px
}

.dashboard-page__user-infolist ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.dashboard-page__user-infolist ul li {
    color: #324148;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 18px;
    position: relative;
    word-break: break-word
}

 

 .dashboard-page__user-infolist ul li {
    padding-right: 20px
}

.dashboard-page__user-infolist ul li:last-child {
    padding-bottom: 0
}

.dashboard-page__user-infolist ul li:before {
    background: #1767a1;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    top: 8px;
    width: 8px
}

 

  .dashboard-page__user-infolist ul li:before {
    right: 0
}

.dashboard-page__user-infolist ul li.go-back-old-website:before {
    background: none;
    border-radius: initial;
    color: #da4761;
    content: "\F061";
    display: inline-block;
    font-family: FontAwesome;
    height: 20px;
    top: -1px;
    width: 20px
}

[dir=ltr] .dashboard-page__user-infolist ul li.go-back-old-website:before {
    left: -2px
}

[dir=rtl] .dashboard-page__user-infolist ul li.go-back-old-website:before {
    right: -2px
}

.dashboard-page__user-infolist ul li h6 {
    color: #226ea5;
    display: inline;
    font-size: 16px;
    font-weight: 500
}

.dashboard-page__user-infolist ul li a {
    color: #324148;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none
}

.dashboard-page__user-infolist ul li a:hover {
    color: #324148;
    text-decoration: underline
}

.dashboard-page__user-infolist ul li strong {
    font-weight: 500
}

.dashboard-page__user-infolist ul li strong a {
    color: #da4761
}

.dashboard-page__user-infolist ul li strong a:hover {
    color: #da4761;
    text-decoration: underline
}

.dashboard-page .row {
    margin: 0 -8px
}

.dashboard-page [class*=col-] {
    padding: 0 8px
}

.dashboard-page__block--equal {
    min-height: calc(100% - 20px)
}

.block-premium-status {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 20px 20px
}

.block-premium-status .remaining-days,.block-premium-status .subscribe {
    width: 100%
}

.block-premium-status .subscribe figure {
    margin: 0 0 5px;
    width: 24px
}

.ltr .block-premium-status .subscribe figure {
    float: left;
    margin-right: 10px
}

.rtl .block-premium-status .subscribe figure {
    float: right;
    margin-left: 10px
}

.block-premium-status h3 {
    color: #000;
    font-size: 19px;
    font-weight: 500;
    line-height: normal;
    padding: 0
}

.block-premium-status .remaining-days h3:first-child {
    margin-bottom: 19px
}

.block-premium-status h3 strong {
    color: #da4761;
    font-weight: 700
}

.block-premium-status p {
    color: #919191;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0
}

.block-premium-status .deadline-date {
    margin-bottom: 10px
}

.block-counters {
    align-items: center;
    display: flex;
    justify-content: center
}

.block-counters .col,.block-counters .col>a {
    text-align: center
}

.block-counters figure {
    display: inline-block;
    height: 34px;
    margin: 0;
    position: relative
}

.block-counters figure:before {
    background: #ffeaed;
    border-radius: 50%;
    content: "";
    display: block;
    height: 24px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 24px
}

.block-counters figure img {
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 20
}

.block-counters h6 {
    color: #324148;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0
}

.block-counters h6 strong {
    color: #da4761;
    font-weight: 500
}

.notification.new {
    background: #fff8e3;
    border: none!important;
    border-radius: 14px;
    margin-bottom: 10px!important
}

.block-last-notifications>div {
    padding: 15px 25px 25px
}

.block-last-notifications .no-notifications {
    align-content: center;
    align-items: center;
    background: #f9f9f9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
    min-height: 200px
}

.block-last-notifications .no-notifications figure {
    display: block;
    text-align: center
}

.block-last-notifications .no-notifications figure .ico {
    height: 48px;
    width: 48px
}

.block-last-notifications .no-notifications p {
    display: block;
    margin: 0;
    text-align: center
}

.block-last-notifications h2 {
    color: #1767a1;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 10px;
    padding-left: 15px
}

.block-last-notifications ul {
    list-style: none;
    margin: 0 -15px;
    padding: 0
}

.block-last-notifications ul li.notification {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px dotted #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15px;
    min-height: 88px;
    padding: 10px 15px;
    position: relative
}

.block-last-notifications ul li.notification.table-row.table-row-ignored {
    filter: opacity(var(--opacity-data-ignored))
}

.ltr .block-last-notifications ul li.notification {
    padding-left: 85px
}

.rtl .block-last-notifications ul li.notification {
    padding-right: 85px
}

.block-last-notifications ul li.notification:last-child {
    border-bottom: none
}

.block-last-notifications ul li.notification figure {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: #f2f2f3;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55px;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 55px
}

.ltr .block-last-notifications ul li.notification figure {
    left: 10px
}

.rtl .block-last-notifications ul li.notification figure {
    right: 10px
}

.block-last-notifications ul li.notification figure img {
    border-radius: unset;
    height: 32px;
    width: 32px
}

.block-last-notifications ul li.notification figure img.user-avatar {
    height: 54px;
    width: 54px
}
.notification .avatar .user-avatar{
border-radius: 50%; 
}
.block-last-notifications ul li.notification p {
    color: #324148;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 6px
}

.block-last-notifications ul li.notification p a,.block-last-notifications ul li.notification p.btn-send-message span {
    color: #1767a1;
    font-weight: 500;
    text-decoration: none
}

.block-last-notifications ul li.notification p a:hover {
    color: #1767a1;
    text-decoration: underline
}

.block-last-notifications ul li.notification .time {
    color: #9c9d9d;
    font-size: 17px;
    font-weight: 400;
    line-height: normal
}

.block-remote:empty {
    display: none!important
}

.dashboard-page__info {
    padding: 15px 25px
}

.dashboard-page__info figure {
    margin: 0 0 20px
}

.dashboard-page__info p {
    color: #324148;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    word-break: break-word
}

.dashboard-page__info h5 {
    color: #324148;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px
}

.dashboard-page__info .link-box a {
    color: #324148;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 8px
}

.dashboard-page__info .link-box {
    padding-top: 10px
}

.dashboard-page__info .link-box a img {
    float: right;
    margin-left: 10px;
    position: relative;
    top: -2px
}

.dashboard-page__info .btn {
    min-width: 125px
}

.block-advanced-search {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 40px 0 rgba(0,0,0,.05);
    padding: 30px 45px 40px
}

.block-advanced-search:after {
    clear: both;
    content: "";
    display: block
}

.edit-details__content h3 {
    color: #1767a1;
    /* //float: left; */
    font-size: 24px;
    font-weight: 700;
    line-height: 50px
}

.block-advanced-search .filter--primary {
    float: right
}

.block-advanced-search .filter--primary .btn {
    min-width: 200px;
    padding: 0 20px
}

.block-advanced-search .filter--primary .btn.active {
    color: #fff
}

.block-advanced-search .btn-group:before {
    left: 0;
    width: 50%
}

.block-advanced-search .husband.btn-group:before {
    left: auto;
    right: 0
}

.block-advanced-search .wife.btn-group:before {
    left: 0
}

.rtl .block-advanced-search h3 {
    float: right;
    text-align: center
}

.rtl .block-advanced-search .filter--primary {
    float: left
}

.rtl .block-advanced-search .husband.btn-group:before {
    left: auto;
    right: 50%
}

.rtl .block-advanced-search .wife.btn-group:before {
    left: auto;
    right: 0
}

.block-advanced-search .search-options {
    clear: both;
    padding-top: 10px
}

.block-advanced-search .search-options label {
    color: #3a4451;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: auto;
    line-height: normal;
    padding-bottom: 12px
}

.block-advanced-search .search-options .btn-danger {
    color: #fff;
    min-width: 182px
}

.block-advanced-search .search-options {
    margin: 0 -32px
}

.block-advanced-search .search-options [class*=col-] {
    padding: 0 32px
}

.block-advanced-search .search-options .range-box {
    position: relative;
    top: 10px
}

.block-advanced-search .search-options-for-mobile .btn--more {
    background: #f5f7f9;
    border-radius: 4px;
    color: #394659;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    height: 41px;
    line-height: 41px
}

.block-advanced-search .search-options-for-mobile .btn--more span {
    position: relative
}

.block-advanced-search .search-options-for-mobile .btn--more span:after {
    background: url(/images/69b62f2c0e8dbc562297.svg) no-repeat 100%;
    content: "";
    display: inline-block;
    height: 12px;
    margin-left: 10px;
    margin-top: -6px;
    right: 0;
    top: 50%;
    width: 12px
}

.rtl .block-advanced-search .search-options-for-mobile .btn--more span:after {
    margin-left: 0;
    margin-right: 10px
}

.block-advanced-search .search-options-for-mobile .btn--more .more--open {
    display: none
}

.block-advanced-search .search-options-for-mobile .btn--more[aria-expanded=true] .more--open {
    display: inline-block
}

.block-advanced-search .search-options-for-mobile .btn--more[aria-expanded=true] .more--close {
    display: none
}

.block-advanced-search .search-options-for-mobile .btn--more[aria-expanded=true] span:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.block-who-likes-me {
    padding-bottom: 30px;
    padding-top: 10px
}

.block-who-likes-me h2 {
    color: #da4761;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0
}

.block-who-likes-me .members {
    margin: 0 -10px
}

.block-who-likes-me .members .slick-slide {
    padding: 20px 10px
}

.block-who-likes-me .member-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background: #fff;
    border-radius: 42px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 18px 20px;
    position: relative
}

.block-who-likes-me .member-slide .user-username img {
    display: unset
}

.block-who-likes-me .member-slide .separator-user-age,.block-who-likes-me .member-slide .user-maritalStatus {
    display: none
}

.block-who-likes-me .member-slide h6 {
    color: #259acb;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 6px
}

.block-who-likes-me .member-slide h6 a {
    color: #259acb;
    text-decoration: none
}

.block-who-likes-me .member-slide h6 a:hover {
    color: #259acb;
    text-decoration: underline
}

.block-who-likes-me .member-slide p {
    color: #2b373d;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0
}

.block-recent-members {
    margin: 30px -18px 0
}

.block-recent-members h2 {
    color: #da4761;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    padding-bottom: 0
}

.block-recent-members .col-md-12 {
    margin-bottom: 20px
}

.block-recent-members .btn-action {
    padding-top: 15px
}

[dir=ltr] .btn-action .ico-long-arrow-alt-left {
    transform: scale(-1)
}

.dashboard-page__title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    background: none;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0
}

.dashboard-page__title h2 {
    color: #1767a1;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0
}

.dashboard-page__title:after {
    display: none
}

.dashboard-page__title.block-advanced-search .filter--primary .btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    min-width: 240px
}

.dashboard-page .members-list h2 {
    color: #da4761;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0
}

.dashboard-page .members-list .col-md-12 {
    margin-bottom: 20px
}

.dashboard-page .members-list {
    margin: 0 -18px
}

.dashboard-page .members-list [class*=col-] {
    padding: 0 18px
}

.dashboard-page__title {
    z-index: 40
}

.user-data {
    border-bottom: 1px solid #f4f3f3;
    margin-bottom: 14px;
    padding-bottom: 10px
}

.user-data:after {
    clear: both;
    content: "";
    display: block
}

.user-data figure {
    background: #fff;
    border: 2px solid #f0f0f1;
    border-radius: 50%;
    /* float: left; */
    height: 68px;
    margin: 0 18px 0 0;
    position: relative;
    width: 68px
}

 .user-data figure {
    float: right;
    margin-left: 18px  ;
    margin-right: 0
}

.user-data figure img {
    border-radius: 50%;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%
}

.user-data figure .status {
    bottom: 2px;
    left: 5px;
    position: absolute
}

.user-data figure .star {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    background: #f2f2f3;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 26px;
    justify-content: center;
    line-height: 20px;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -2px;
    width: 26px
}

.user-data figure .star img {
    height: auto;
    max-width: 12px
}

.membership-infos {
    overflow: hidden;
    padding-top: 0;
    font-size: 14px;
}

.membership-infos h4 {
    color: #324148;
    font-size: 19px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 0
}

.membership-infos h4 span {
    background: #57a863;
    border-radius: 2px;
    display: inline-block;
    height: 14px;
    margin-left: 4px;
    position: relative;
    top: 0;
    width: 20px
}

.membership-infos p {
    color: #259acb;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0
}

.rtl .membership-infos p {
    font-weight: 500
}

@media only screen and (max-width: 1200px) {
    .dashboard-page__link {
        display:block!important
    }

    .dashboard-page__link .btn-light {
        margin-bottom: 10px;
        margin-left: 0
    }

    .dashboard-page__title {
        padding: 20px 0
    }
}

@media only screen and (max-width: 1024px) {
    .block-advanced-search {
        padding:15px 30px 30px
    }

    .block-advanced-search h3 {
        float: right
    }

    .block-advanced-search .filter--primary .btn {
        min-width: 220px;
        padding: 0 20px
    }

    .block-advanced-search .advance-search__options {
        margin: 0 -15px
    }

    .block-advanced-search .advance-search__options [class*=col-] {
        padding: 0 15px
    }
}

@media only screen and (max-width: 992px) {
    .main-content>.dashboard-page {
        -ms-flex:0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px!important
    }

    .block-counters {
        padding: 25px
    }

    .block-counters .col {
        padding-bottom: 10px
    }

    .block-counters .col,.block-counters .col>a {
        display: flex;
        flex-basis: auto;
        text-align: inherit;
        width: 100%
    }

    .block-counters h6 {
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        padding: 0 0 13px;
        width: 100%
    }

    .block-counters figure {
        height: auto
    }

    .ltr .block-counters figure {
        padding-right: 10px
    }

    .rtl .block-counters figure {
        padding-left: 10px
    }

    .block-counters .col:last-child {
        padding-bottom: 0
    }

    .block-counters .col:last-child h6 {
        border-bottom: none;
        padding-bottom: 3px
    }

    .block-counters h6 strong {
        font-size: inherit
    }

    .dashboard-page__title {
        padding: 20px 0
    }
}

@media only screen and (max-width: 768px) {
    .block-user-data {
        display:block!important
    }

    .block-user-data .user-data {
        margin-bottom: 15px
    }

    .dashboard-page__user-infolist {
        padding: 15px
    }

    .block-advanced-search {
        padding: 20px 25px
    }

    .block-advanced-search h3 {
        float: none;
        font-size: 20px;
        line-height: normal;
        padding-bottom: 16px
    }

    .block-advanced-search .filter--primary {
        float: none;
        width: 100%
    }

    .block-advanced-search .filter--primary .mob--hide {
        display: none
    }

    .block-advanced-search .filter--primary .btn {
        height: 41px;
        line-height: 41px;
        min-width: 1px;
        width: 50%
    }

    .block-advanced-search .btn-group:before {
        width: 50%
    }

    .block-advanced-search .btn-group.female:before,.rtl .block-advanced-search .btn-group.wife:before {
        left: 50%;
        width: 50%
    }

    .block-advanced-search .btn--more {
        margin-bottom: 20px;
        width: 100%
    }

    .block-advanced-search .advance-search__options .btn-danger {
        margin-top: 0;
        width: 100%
    }

    .block-advanced-search .advance-search__options label {
        padding-bottom: 10px
    }

    .block-advanced-search .advance-search__options {
        padding-top: 35px
    }

    .block-advanced-search .search-options-for-mobile .btn--more {
        margin-bottom: 25px;
        width: 100%
    }

    .rtl .block-advanced-search .search-options-for-mobile .btn--more span {
        padding-right: 0;
        position: relative
    }

    .rtl .block-advanced-search .search-options-for-mobile .btn--more span:after {
        left: 0;
        right: auto
    }

    .block-advanced-search .filter--primary .btn {
        font-size: 17px
    }

    .block-advanced-search .search-options {
        padding-top: 0
    }

    .block-advanced-search .search-options .form-group {
        margin-bottom: 15px
    }

    .block-advanced-search .search-options-for-mobile {
        margin-bottom: 7px;
        margin-top: 10px
    }

    .block-advanced-search .search-options-for-mobile .form-group {
        padding: 0 15px
    }

    .block-advanced-search .btn-submit-search {
        margin-bottom: 7px;
        margin-top: 10px
    }

    .block-advanced-search .btn-submit-search .btn {
        width: 100%
    }

    .dashboard-page__title {
        display: block!important;
        padding: 10px 0 0
    }

    .dashboard-page__title h2 {
        padding-bottom: 10px
    }

    .dashboard-page__title.block-advanced-search .filter--primary .btn {
        line-height: 41px
    }

    .dashboard-page .members-list {
        margin: 0 -10px
    }

    .dashboard-page .members-list [class*=col-] {
        padding: 0 10px
    }

    .dashboard-page__link:after {
        clear: both;
        content: "";
        display: block
    }

    .dashboard-page__block.search-page__search-block {
        padding-right: 15px
    }

    .dashboard-page__link .btn-links {
        margin-left: 0
    }

    .dashboard-page__title.block-advanced-search .filter--primary .btn {
        min-width: 182px
    }

    .block-last-notifications ul li.notification .time,.block-last-notifications ul li.notification p {
        font-size: 16px
    }

    .dashboard-page__info {
        padding: 15px 10%
    }
}

@media only screen and (min-width: 320px) and (max-width:480px) {
    .page-body,.page>.page-body {
        padding:0!important
    }

    .dashboard-page__block {
        border-radius: 0
    }

    .block-user-data .user-data {
        align-content: center;
        background: #f7f7f7;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        padding: 0 20px 15px
    }

    .ltr .block-user-data .user-data figure,.rtl .block-user-data .user-data figure {
        float: none;
        margin: -30px auto 0
    }

    .block-user-data .membership-infos {
        padding: 10px 0
    }

    .block-user-data .membership-infos h4 {
        color: #585858;
        font-size: 15px
    }

    .block-user-data .membership-infos p strong {
        padding: 0 0 2px
    }

    .dashboard-page__link {
        display: flex!important;
        justify-content: center;
        padding: 0
    }

    .dashboard-page__link .btn-light {
        margin-bottom: 15px
    }

    .dashboard-page__link .btn-links,.dashboard-page__link .btn-links li:last-child {
        margin: 0!important
    }

    .dashboard-page__title.block-advanced-search .filter--primary .btn {
        min-width: 1px
    }

    .block-recent-members,.block-who-likes-me {
        padding-left: 25px;
        padding-right: 25px
    }
}

@media only screen and (min-width: 0px) and (max-width:320px) {
    .block-user-data .membership-infos p strong {
        display:block;
        padding: 0 0 2px
    }

    .block-last-notifications ul li.notification {
        margin: 0 10px
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
     .block-user-data .user-data figure, .rtl .block-user-data .user-data figure {
        float: none;
        margin: -30px auto 0;
    }
}

.advance-search__content{
border-radius: 12px !important;
}

.user-card {
    background-color: #fff;
    border-radius: 22px;
    box-shadow: -1px 9px 14px 0 #f0f2f4;
    margin: 10px 0;
    padding: 20px;
    position: relative;
    
}


.user-card .essential-data {
    align-items: center;
    display: flex;
    justify-content: center;
}
a{  
    text-decoration: none !important;
}
 .user-card .essential-data .avatar {
    margin-left: 15px;
    margin-right: 0;
}
 
.user-card img[class^=avatar] {
    border-radius: 50%;
    height: 68px;
    width: 68px;
}
.user-card .essential-data h3 {
    color: #324148;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: -1px;
}
.user-card .essential-data h3 img {
    align-items: center;
    display: inline-flex;
    margin: 0 3px;
    width: 16px;
    height: auto;
}
.user-card .essential-data h4 {
    color: #259acb;
    font-size: 16px;
    margin-bottom: 0;
}


.user-card .secondary-data {
    align-items: center;
    border-top: 1px solid #f4f3f3;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 15px;
    overflow: hidden;
    padding: 15px 10px 0
}

.user-card .secondary-data .user-location {
    margin-right: 10px;
    max-width: 60%
}
 
.user-card .secondary-data .user-marital-status {
    max-width: 40%
}

.user-card .secondary-data .user-location,.user-card .secondary-data .user-marital-status {
    align-items: center;
    display: flex
}

 

  .user-card .secondary-data .user-location img,  .user-card .secondary-data .user-marital-status img {
    margin-left: 10px;
    margin-right: 0
}
.user-location-bi{
    margin-left: 10px;
    margin-right: 0  
}
.user-card .secondary-data .user-location span,.user-card .secondary-data .user-marital-status span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.user-card .more-data {
    align-items: center;
    border-top: 1px solid #f4f3f3;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px 0 0
}

.user-card .more-data .user-options ul {
    display: flex;
    margin: 0;
    padding: 0
}

.user-card .more-data .user-options ul li {
    list-style: none
}

[dir=ltr] .user-card .more-data .user-options ul li {
    margin-right: 5px
}

[dir=rtl] .user-card .more-data .user-options ul li {
    margin-left: 5px
}

.user-card .more-data .user-options ul li:last-child {
    margin-left: 0;
    margin-right: 0
}

.user-card .more-data .user-options .btn i {
    font-size: 15px;
    padding: 2px
}

.user-card .more-data .user-options .btn-add-to-favorite,.user-card .more-data .user-options .btn-remove-from-favorite {
    --box-shadow-color: hsla(0,0%,100%,0);
    border: none;
    box-shadow: inset 2px -15px 20px 0 var(--box-shadow-color);
    color: #ccc
}

.user-card .more-data .user-options .btn-add-to-favorite:hover,.user-card .more-data .user-options .btn-remove-from-favorite {
    background: #fff4f8;
    background: linear-gradient(90deg,#fff4f8 0,#fff5f8db);
    border: none;
    box-shadow: none;
    color: #da4761
}

.user-card .more-data .user-options .btn-add-to-favorite:hover i,.user-card .more-data .user-options .btn-remove-from-favorite i {
    animation: heartbeat 1s infinite;
    position: relative;
    top: 1px
}

.user-card .more-data .user-last-login {
    align-items: center;
    display: flex;
    max-width: 50%
}

[dir=ltr] .user-card .more-data .user-last-login {
    margin-left: 20px
}

[dir=rtl] .user-card .more-data .user-last-login {
    margin-right: 20px
}

.user-card .more-data .user-last-login img {
    height: 24px;
    margin-right: 10px;
    width: 24px
}

[dir=rtl] .user-card .more-data .user-last-login img {
    margin-left: 10px;
    margin-right: 0
}

.user-card .more-data .user-last-login span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.user-card .more-data .btn-send-message i {
    position: relative
}

.user-authenticated .user-card.not-contactable .more-data .btn-send-message i:after {
    background: url(/images/0546f0756c10a0fafbaf.svg) no-repeat;
    content: "";
    height: 10px;
    left: 11px;
    position: absolute;
    top: 2px;
    width: 10px
}

.user-card .more-data .btn-add-to-favorite,.user-card .more-data .btn-remove-from-favorite,.user-card .more-data .btn-send-message,.user-card .more-data .profile-visited {
    display: flex;
    padding: 3px 16px 5px
}

.user-card .more-data .btn-add-to-blacklist,.user-card.blacklisted .more-data .btn-add-to-favorite,.user-card.blacklisted .more-data .btn-send-message,.user-card:not(.blacklisted) .more-data .btn-remove-from-blacklist,.user-card:not(.visited) .more-data .profile-visited {
    display: none
}

.user-card .more-data .btn-remove-from-blacklist {
    background: #da4761
}

[dir=ltr] .user-card .more-data .btn-remove-from-blacklist {
    margin-right: 10px
}

[dir=rtl] .user-card .more-data .btn-remove-from-blacklist {
    margin-left: 10px
}

.user-card .more-data .btn-remove-from-blacklist i {
    position: relative;
    top: 2px
}

.user-card .more-data .profile-visited {
    padding: 4px 10px
}

.user-card .more-data .profile-visited:before {
    background: url(/images/128ff3becdaa7daf00cc.svg) no-repeat;
    content: "";
    filter: opacity(70%) grayscale(100%);
    height: 18px;
    width: 18px
}
  .btn-action {
    text-align: left !important;
}
.btn-action:hover {
    color: #de526f;
}

.img-profile-edit {
    border-radius: 50%;
    position: relative; /* لضبط مرجعية المكان النسبي للزر */
    width: 200px;
    height: 200px;
}

.btn-del-photo {
    align-items: center;
    background: #d71818;
    border: 4px solid #fff;
    border-radius: 50%;
    display: flex;
    height: 51px;
    justify-content: center;
    position: absolute; /* استخدام absolute لضبط مكان الزر */
    bottom: 10px; /* استخدام px أو rem بدلاً من نسب */
    right: 10px; /* نفس الشيء هنا */
    width: 51px;
    z-index: 1;
}

.btn-del-photo i {
    color: #fff;
    font-size: 22px;
}